<div class="manu">
    <mat-form-field appearance="fill" color="primary">
        <mat-label>Choosen algorithm</mat-label>
        <mat-select [(ngModel)]="selectedAlgorithm" name="algorithm">
          <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
            {{algorithm.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary">
        <mat-label>List size</mat-label>
        <input (ngModelChange)="onSizeChange()" matInput type="number" placeholder="Ex. 12" [formControl]="selectedSize" min="{{MIN_SIZE}}" max="{{MAX_SIZE}}">
        <mat-error *ngIf="selectedSize.invalid">Min size: {{MIN_SIZE}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="start-btn" (click)="onStartClick()">Start</button>
</div>