.board
    $board-width: 95vw
    $board-height: 70vh
    $values-length: var(--length)
    $values-min: var(--min)
    $values-max: var(--max)
    width: $board-width
    height: $board-height
    border: 3px solid black
    display: flex
    justify-content: space-around
    align-items: flex-end
    padding-top: 10px

    .value
        $value: var(--value)
        $spaceing: 0px
        width: calc($board-width/$values-length - $spaceing)
        height: calc($value/$values-max * $board-height)

